<div class="row">
  <div class="col-md-8">
    <h3>Pre-exercises</h3>
    <h5><strong>Completing the required pre-exercises makes full participation in the workshop possible! Submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxsc-aIWqUyFA0qTsnbfQrA6wROtAxC5Id4sxH08STTl8e5w/viewform" target=_blank>homework responses</a> as you complete the pre-exercises.</strong></h5>
    <table class="table table-striped">
        <tr><td width="20%">Mandatory </td><td><a href="ORIENTATION.html">Orientation</a></td><td></td></tr>
        <tr><td width="20%">Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td><td width="30%">(Windows users: skip <a href="https://swcarpentry.github.io/shell-novice/#install-software">install software</a> and follow the "advanced users" instructions to <a href="https://swcarpentry.github.io/shell-novice/#open-a-new-shell">open a shell</a>)</td></tr>
        <tr><td width="20%">Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td><td></td></tr>
        <tr><td width="20%">Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td><td></td></tr>
    </table>
    <h3>Pre-Learning</h3>
    <h5>The following concepts are important for using Open Data independently, but will not be taught live during the workshop.</h5>
    <table class="table table-striped">
        <tr><td width="20%">Recommended</td><td><a href="https://cms-opendata-workshop.github.io/workshop2026-lesson-particle-physics-primer/instructor/index.html">Particle Physics Primer</a></td><td>for undergraduates!</td></tr>      
        <tr><td width="20%">Recommended</td><td><a href="https://cms-opendata-workshop.github.io/workshop2026-lesson-cms-detector/instructor/index.html">Overview of the CMS detector</a></td><td></td></tr>
        <tr><td width="20%">Recommended</td><td><a href="https://cms-opendata-workshop.github.io/workshop2026-lesson-physics-objects/instructor/index.html">Physics Objects</a></td><td></td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Tuesday July 28</h3>
    <table class="table table-striped">
      <tr>
	<td width="15%">9:00-9:30</td>
	<td style="background-color:#cafce8">
	  <a style="color:black" href="https://indico.cern.ch/event/1672496/">
	    Introduction
	  </a>
	</td>
	<td width="20%">TBD</td>
      </tr>
      <tr>
        <td width="15%">9:30-10:30</td>
	<td style="background-color:#e1fcca">
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            Open data for research and education
	  </a>
	</td>
        <td width="20%">TBD</td>
      </tr>
      <tr>
        <td width="15%">10:30-11:00</td>
	<td>
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            Break
	  </a>
	</td>
        <td width="20%"></td>
      </tr>
      <tr>
        <td width="15%">11:00-12:00</td>
	<td style="background-color:#fccaca">
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            Discussion
	  </a>
	</td>
        <td width="20%">All</td>
      </tr>
      <tr>
        <td width="15%">12:00-12:30</td>
	<td style="background-color:#e7cafc">
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            CERN Open Data Portal
	  </a>
	</td>
        <td width="20%">Pablo Saiz</td>
      </tr>
      <tr>
        <td width="15%">12:30-13:30</td>
	<td>
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            Lunch
	  </a>
	</td>
        <td width="20%"></td>
      </tr>
      <tr>
        <td width="15%">13:30-14:30</td>
	<td style="background-color:#cadbfc">
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            Showcase and activities I
	  </a>
	</td>
        <td width="20%">TBD</td>
      </tr>
      <tr>
        <td width="15%">14:30-15:30</td>
	<td style="background-color:#cadbfc">
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            Showcase and activities II
	  </a>
	</td>
        <td width="20%">TBD</td>
      </tr>
      <tr>
        <td width="15%">15:30-16:30</td>
	<td style="background-color:#fccaca">
          <a style="color:black" href="https://indico.cern.ch/event/1672496/">
            Brainstorming, orientation for hacking on Day II
	  </a>
	</td>
        <td width="20%">TBD</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday July 29</h3>
    <table class="table table-striped">
      <tr>
	<td width="15%">9:00-10:00</td>
	<td style="background-color:#fccaca">
	  <a style="color:black" href="https://indico.cern.ch/event/1672496/">
	    Check-in, question & answer
	  </a>
	</td>
	<td width="20%">TBD</td>
      </tr>
      <tr>
	<td width="15%">10:30-12:30</td>
	<td style="background-color:#e3e3e3">
	  <a style="color:black" href="https://indico.cern.ch/event/1672496/">
	    Hack/play period (open office hours)
	  </a>
	</td>
	<td width="20%">TBD</td>
      </tr>
      <tr>
	<td width="15%">12:30-13:00</td>
	<td>Lunch</td>
	<td width="20%"></td>
      </tr>
      <tr>
	<td width="15%">1:00-15:30</td>
	<td style="background-color:#e3e3e3">
	  Hack (open office hours)
	</td>
	<td width="20%">TBD</td>
      </tr>
      <tr>
	<td width="15%">15:30-16:30</td>
	<td style="background-color:#fcdfca">
	  Progress, discussion
	</td>
	<td width="20%"></td>
      </tr>
    </table>
  </div>  
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Thursday July 30</h3>
    <table class="table table-striped">
      <tr>
	<td width="15%">9:00-10:00</td>
	<td style="background-color:#fcf0ca">
	  <a style="color:black" href="https://indico.cern.ch/event/1672496/">
	    Check-in, Q&A
	  </a>
	</td>
	<td width="20%">TBD</td>
      </tr>
      <tr>
	<td width="15%">10:00-12:30</td>
	<td style="background-color:#e3e3e3">Presentations</td>
	<td width="20%">All</td>
      </tr>
      <tr>
	<td width="15%">12:30-13:00</td>
	<td>Lunch</td>
	<td width="20%"></td>
      </tr>
      <tr>
	<td width="15%">13:30-15:00</td>
	<td style="background-color:#e1fcca">Presentations, discussion</td>
	<td width="20%">All</td>
      </tr>
    </table>
  </div>
</div>
